/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


/* Common Css */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    display: flex;
    justify-content: center;
}

main {
    width: 870px;
    height: 679px;
}

hr {
    border: none;
    width: 807px;
    height: 1px;
    margin-top: 30px;
    background-color: #D1D1D1;
}

/* Several Using */

.section-title {
    padding-top: 33px;
    margin-left: 30px;
    margin-bottom: 40px;
    color: #562EFF;
}

/* Top Players Section */

.top-player,
.latest-course {
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 40px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 29px;
    margin-left: 30px;
}

.player {
    display: flex;
}

.player img {
    width: 56px;
    height: 56px;
}

.player p {
    margin-left: 16px;
}


/* Top Blog Section */

.parent-blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    margin-left: 30px;
}

.blogs {
    display: flex;
    align-items: center;
    width: 85%;
}

.blogs img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-info p {
    color: gray;
}

.blog-info span {
    color: #562EFF;
}




/* Latest Course Section */


.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 0 auto 0 0;
}

.course {
    margin-left: 30px;
    padding: 10px;
    box-shadow:
        inset 0 -3em 3em rgba(70, 68, 68, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(103, 100, 100, 0.3);
}

.course img {
    width: 224px;
    height: 104px;
}

.course-info {
    display: flex;
    align-items: center;
}

.filled {
    color: #FFC014;
    font-size: 12px;
    padding-bottom: 10%;
}

.unfilled {
    color: grey;
    font-size: 12px;
    padding-bottom: 10%;
}

.rating {
    color: gray;
    margin-left: 11px;
}

.fa-clock {
    margin-right: 5px;
}

.red-button {
    color: #FF4A60;
    background-color: #FFE4E8;
    margin-left: 11px;
    padding: 2px 7px;
    border-radius: 35px;
}